.frame{
    width: 300px;
    height: 300px;
    border: 10px solid white;
    background-color: beige;
    padding: 10px;
}
.input:hover{
    cursor: pointer;
    background-color: yellow;
}